* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* Global header */
#header {
  background-image: url(../img/arbol\ aurio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 20px;
}
#header .menu{
  width: 500px;
  margin: auto;
  background-color: black;
  text-shadow:1px 1px 2px rgb(255, 0, 0)
}
#header .menu ul li{
  margin: auto;
}
#header .logo img {
  width: 150px; 
  margin: auto;
  margin-right: 50px;
}
#header .logo div a {
  margin: 0px 0px 0px 0px;
  color: black;
  text-decoration: none;
}
#header .menu ul li {
  display: inline-block;
  padding: 10px;
}
#header .menu ul li a {
  color: white;
  text-decoration: none;
}
#header .menu ul li a:hover {
  color: red;
}

#header .titulo a {
  color: white;
  text-shadow:1px 1px 10px black;
}
#header .titulo {
  color: white;
  text-shadow:1px 1px 10px black; 
}

/* maind */

#intro {
  background-image: url(../img/arbol\ aurio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
  text-shadow:1px 1px 10px black;
  padding: 20px;
}
#intro .praise a {
  color: white;
  text-shadow:1px 1px 10px black;
}

/* section con grid */

#grid .grid-container {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  height: 720px;
  background-image: url(../img/arbol\ aurio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  gap: 10px 10px;
  grid-template-rows: repeat(8,1fr);
  padding: 5px;
}
#grid .grid-item {
  background-color: rgb(0, 162, 255);
  padding:10px;
  border: 2px solid black;
}
#grid .grid-item:nth-child(1){
  background-color: blueviolet;
  color: white;
  grid-row: 1/2;
  grid-column: 2/5;
}
#grid .grid-item:nth-child(2){
  background-color: greenyellow;
  color: white;
  grid-row: 1/4;
  grid-column: 5/7;

}
#grid .grid-item:nth-child(3){
  background-color: brown;
  color: white;
  grid-row: 2/4;
  grid-column: 2/5;

}
#grid .grid-item:nth-child(4){
  background-color: rgb(50, 42, 165);
  color: white;
  grid-row:4/8;
  grid-column: 2/7;
}
#grid .grid-item:nth-child(5){
  background-color: rgb(56, 165, 42);
  color: white;
  grid-row:8/8;
  grid-column: 2/7;
}



#footer {
  background-color: #000a14; 
  margin: auto;
}
#footer .redes{
  padding: 20px;
  text-align: center;
  margin-right: 65px;
}
#footer .redes a{
  color: white;
  margin: 10px 0px 0px 50px;
}

#footer .ahoguera {
  text-align: center;
}
#footer .ahoguera img {
  width: 150px;
  height: 100px;
  margin: auto;
}
#mainnosotros .textonosotros h1{
text-align: center;
}
#mainnosotros .textonosotros p{
  text-align: center;
  }
  #mainnosotros .imagendarksouls {
    text-align: center;
  }
#mainnosotros .imagendarksouls img {
  width: 600px;
}
#mainnosotros .imagendarksouls img { 
  width: 700px;
  height: 400px;
  padding: 1%;
}
#mainnosotros {
  background-image: url(../img/arbol\ aurio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 20px;
}
#mainnosotros .textonosotros h1 {
  width: 170px;
  margin: auto;
  color: white;
  background-color: black;
}
#mainnosotros .textonosotros p {
  width: 400px;
  margin: auto;
  color: white;
  background-color: black;
}
#mainnosotros {
  background-image: url(../img/arbol\ aurio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 20px;
}
#demasiadotexto {
  background-image: url(../img/arbol\ aurio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 20px;
}
#demasiadotexto {
width: auto;
margin: auto;
text-align: center;
}
#demasiadotexto p {
color: rgb(255, 255, 255);
background-color: black;
}
#demasiadotexto h1{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#muchotexto {
  background-image: url(../img/arbol\ aurio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 20px;
}
#muchotexto {
width: auto;
margin: auto;
text-align: center;
}
#muchotexto h1 {
  color: rgb(255, 255, 255);
  background-color: black;
  }
#muchotexto p {
color: rgb(255, 254, 254);
background-color: black;
}

#noticias {
    background-image: url(../img/arbol\ aurio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 20px;
}
#noticias {
  width: auto;
  margin: auto;
  text-align: center;
}
#noticias p {
  color: rgb(255, 251, 251);
  background-color: black;
}
#noticias h1{
  background-color: rgb(0, 0, 0);
  color: rgb(252, 243, 243);
}
#juegossection {
  background-image: url(../img/arbol\ aurio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 20px;   
}
#juegossection a {
  color: white;
  }

  /* pagina de juegos  */

  #muchotexto .flex-container {
  display: flex;
  gap: 20px 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.flex-item {
  width:720px;
}
.flex-item p a {
color: white;
}
#muchotexto .flex-item img { 
  width: 100%;
  height: auto;
}